* {
font-family: 'Gilroy',sans-serif;
transition: 0.3s all;
font-weight: 600;
background-color: #393939;
}
body {
display: flex;
justify-content: center;
align-items: center;
}
#app {
margin-top: 150px;
width: 200px;
box-shadow: 0 3px 15px rgb(255, 255, 255);
}
input[type="text"] {
width: 200px;
border: 0;
color: #d6d6d6;
font-size: 18px;
padding: 5px 5px;
text-align: right;
}
.grid {
display: flex;                       
flex-wrap: wrap;  
justify-content: space-around;
width: 100%;

}
.cell {
flex: 33%;                       
height: 50px;
font-size: 18px;
border: none;
}
.num {
background-color: #525252;
color: #fff;
font-weight: 400;
}
.cell:hover{
background-color: #301818;
}
.op {
background-color: #ff5353;
color: #243849;
}